# Environment
.venv/
.env

# Python cache
__pycache__/
*.pyc

# Streamlit secrets
.streamlit/secrets.toml

# Data files
data/dataset.json
data/media
config/gsheet_credentials.json

# IDE settings
.vscode/
.idea/

test_vision.py
testburger.jpg
testburger1.jpg