# Core AI and LangChain Framework
langchain
langchain-openai
langchain-community
openai

# Vector Stores
#langchain-chroma
#chromadb
langchain-pinecone
pinecone-client

# Document Handling
pypdf

# Frontend and Configuration
streamlit
streamlit-authenticator
python-dotenv
PyYAML

# Cloud & APIs
boto3
requests
gspread
google-auth-oauthlib
google-auth-httplib2